@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap");
.container {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 2px;
  grid-row-gap: 10px;
  max-width: 1041px;
  margin: 16px auto;
  background-color: #fff;
  padding: 1px 45px;
}

.container header {
  display: flex;
  justify-content: space-between;
  grid-column: 1/4;
  grid-row: 1/2;
  border-bottom: 2px solid #b0e0ea;
  color: #9f9c9c;
  padding: 17px 0;
}

.container header i {
  color: rgba(80, 198, 219, 0.85);
  font-size: 29px;
  margin: 2px 0 0 4px;
}

.container header button,
.container header button:active,
.container header button:focus {
  background-color: #51bb7b;
  color: #fff;
  border-radius: 1.3em;
  border-style: none;
  outline: none;
  width: 72px;
  margin: 2px 9px 4px 0;
  font-size: 12px;
}

.container header ul {
  display: flex;
  list-style-type: none;
  font-size: 13px;
}

.container header ul li {
  margin-top: 6px;
  margin: 6px 3px 0 11px;
}

.container header ul li a {
  text-decoration: none;
  color: inherit;
}

.container header ul li a:hover {
  color: blue;
}

.container .hero {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 382px;
}

.container .hero img {
  width: 98%;
  height: 251px;
}

.container .asidebar {
  grid-column: 1/2;
  grid-row: 3/5;
  border-top: 3px solid #693f7e;
  background-color: #f9f9f6;
  padding: 25px, 0, 0, 21px;
  width: 374px;
}

.container .asidebar h4 {
  font-size: 15.6px;
  margin-bottom: 17px;
}

.container .asidebar ul {
  list-style-type: none;
  font-size: 10px;
}

.container .asidebar li {
  margin: 6px 0px;
}

.container main {
  grid-column: 2/4;
  grid-row: 2/4;
}

.container main h2 {
  color: rgba(80, 198, 219, 0.85);
  font-size: 26.6px;
  margin: 1px 0 14px 0;
}

.container main p {
  font-weight: 400;
  font-size: 13.3px;
  color: #918b8b;
  margin: 10px 20px 0 0;
}

.container .help {
  display: flex;
  justify-content: space-around;
  grid-column: 2/4;
  grid-row: 4/5;
  border: 1.5px solid #d9d9d9;
  margin-top: 47px;
  width: 560px;
  height: 119px;
}

.container .help .help-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin: 11px;
}

.container .help .help-item h4 {
  font-weight: 500;
  font-size: 15.1px;
  margin-left: 3px;
}

.container .help .help-item p {
  margin: 4px 0 8px;
  font-size: 10px;
}

.container .help .help-item button {
  border: 2.5px solid rgba(80, 198, 219, 0.85);
  padding: 4px;
  color: rgba(80, 198, 219, 0.85);
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
}

.container .gallery {
  display: grid;
  grid-column: 1/3;
  grid-row: 5/6;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 9px;
}

.container .gallery img {
  width: 98%;
}

.container .sidebar-related {
  grid-column: 3/4;
  grid-row: 5/6;
  grid-column: 3/4;
  grid-row: 5/6;
  padding: 0.1em;
  margin-left: 24px;
  width: 224px;
}

.container .sidebar-related h3 {
  padding-bottom: .4em;
  margin-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;
  font-size: 20px;
}

.container .sidebar-related ul {
  margin-left: 21px;
  font-size: 13px;
}

.container .sidebar-related a {
  font-weight: 500;
  color: #838383;
  text-decoration: none;
}

.container footer {
  grid-column: 1/4;
  grid-row: 6/7;
  text-align: center;
  background-color: #9f9c9c;
  padding: 12px 0px;
  width: 946px;
  height: 82px;
}

.container footer h3 {
  color: #fff;
  margin: 5px 0 9px 0;
  padding-left: 7px;
  font-size: 16px;
}

.container footer p {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-rows: repeat(8, auto);
  }
  .container .hero {
    display: none;
  }
  .container .asidebar {
    grid-column: 1/4;
    grid-row: 2/3;
    border-top: none;
    text-align: center;
    width: auto;
    padding-left: initial;
  }
  .container .asidebar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .container main {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .container main h2 {
    text-align: center;
  }
  .container .help {
    grid-column: 1/4;
    grid-row: 4/5;
    width: auto;
  }
  .container .gallery {
    grid-column: 1/4;
    grid-row: 5/6;
  }
  .container .sidebar-related {
    grid-column: 1/4;
    grid-row: 6/7;
    margin-left: initial;
    width: auto;
    margin-bottom: 27px;
  }
  .container .sidebar-related ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .container .sidebar-related h3 {
    text-align: center;
  }
  .container footer {
    grid-column: 1/4;
    grid-row: 7/8;
    text-align: center;
    background-color: #9f9c9c;
    padding: 12px 0px;
    width: auto;
  }
  .container footer p {
    font-size: 10px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #d9d9d9;
  color: #434343;
}
