$container-color: #fff;
$danger-color: #d9d9d9;
$box-color: #434343;
$header-color: #9f9c9c;
$logo-color: rgba(80, 198, 219, 0.85);
$button-color: #51bb7b;
$asidebar-color: #f9f9f6;
$p-color: #918b8b;
$a-color: #838383;
$border-color: #b0e0ea;
$border-color2: #693f7e;