@import "_helpers";
@import "_variables";
@import "_main";
@import "_tablet";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: $danger-color;
    color: $box-color;

}


